@import '@/styles/variables';

.grafica {
  height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 2rem;

  img {
    object-fit: contain;
  }
}

@media screen and (max-width: $mobile-size) {
  .grafica {
    height: 50vh;
  }
}
