@import '@/styles/variables.scss';

.dashboard {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 1rem;
  text-align: center;
  justify-content: space-between;
}

.dashboardLeal {
  @extend .dashboard;
  margin: 4rem 0;

  .estadisticaContainer {
    flex-grow: 1;
    h5 {
      margin-top: 0.8rem;
      font-size: 1rem;
    }

    .cuadro {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $white-color;
      border-radius: $border-radius-2;
      padding: 1.2rem 3rem;
      min-height: 150px;
      position: relative;
      box-shadow: $white-shadow;

      svg {
        padding: 1rem;
      }

      ul {
        margin-top: 0.5rem;

        li {
          &::marker {
            color: $tertiary-color;
          }
        }
      }
    }
  }

  .estadisticaContainerSM {
    @extend .estadisticaContainer;
    flex: 0;
    .cuadro {
      height: 150px;
      min-width: 150px;
      padding: 0;
    }
  }
}

@media screen and (max-width: $mobile-size) {
  .dashboardLeal {
    .estadisticaContainer {
      width: 100%;
    }
  }
}
