@import '@/styles/variables.scss';

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: scroll;
  display: block;
  white-space: nowrap;

  thead {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;

    th {
      padding: 10px;
      text-align: left;
    }
  }

  tbody {
    .row {
      border-bottom: 1px solid #e0e0e0;

      td {
        padding: 10px;
      }
      .checkboxes {
        input[type='checkbox'] {
          appearance: none;
          background-color: #fff;
          margin: 0;
          display: grid;
          place-content: center;
          font: inherit;
          color: currentColor;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid currentColor;
          border-radius: 0.15em;
          transform: translateY(-0.075em);
          margin: auto;
        }

        input[type='checkbox']::before {
          content: '';
          width: 0.65em;
          height: 0.65em;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: $blue-shadow;
          background-color: $primary-color;
          transform-origin: bottom left;
          clip-path: polygon(
            14% 44%,
            0 65%,
            50% 100%,
            100% 16%,
            80% 0%,
            43% 62%
          );
        }

        input[type='checkbox']:checked::before {
          transform: scale(1);
        }
      }
    }

    .platinum {
      @extend .row;
      background-color: #f9f6ef;
      border: 1px solid $primary-color;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      position: relative;

      .cuentaClave {
        font-weight: 600;
        position: absolute;
        left: 0.5rem;
        bottom: 0.5rem;
        background: $secondary-color;
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: $white-color;
        opacity: 0.5;
      }
    }
  }
}

.form {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.clienteCol {
  max-width: 100px;
  overflow: auto;
}
