@import '@/styles/variables';

.dropdown {
  color: $black-color;
  border-radius: 0 0 $border-radius-1 $border-radius-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  height: stretch;
  background-color: $white-color;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(7.3px);
  z-index: 9;
  nav {
    display: flex;
    flex-direction: column;
    height: stretch;

    button,
    a {
      font-size: 1rem;
    }

    li {
      margin-top: 1rem;
      text-decoration: none;
      list-style: none;
      color: $black-color;
      min-width: 100%;
    }
  }

  h4 {
    margin-bottom: 1rem;
  }
}
