@import '@/styles/variables.scss';

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: $grayed-blue-color;

  .image {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .deletingImage {
    @extend .image;

    opacity: 0.5;
    animation: fadeOut 0.5s infinite;

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@media (max-width: $mobile-size) {
  .imageContainer {
    .image {
      button {
        margin: 10px;
        margin-top: auto;
      }
    }
  }
}
