@import '@/styles/variables.scss';

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  a {
    margin: 0 !important;
  }
  span {
    display: none;
  }
}

@media screen and (max-width: $mobile-size) {
  .buttonGroup {
    flex-wrap: wrap;
    flex-direction: column;

    span {
      display: block;
    }
  }
}
