@import '@/styles/variables';
.button {
  background-color: $primary-color;
  display: inline-block;
  position: relative;
  padding: 0.6em 1.2em;
  // margin: 0.1em auto;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: $border-radius-1;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: $white-color;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  line-height: 1.5em;
  transition: all 0.2s;
  cursor: pointer;
}
.button:hover {
  border-color: $white-color;
}

.secondaryButton {
  @extend .button;
  background-color: $tertiary-color;
}

.disabledButton {
  @extend .button;
  background-color: $disabled-color;
  cursor: not-allowed;
  pointer-events: none;

  &:hover {
    border: 0.16em solid rgba(255, 255, 255, 0);
  }
}

.link {
  cursor: pointer;
}

.icon {
  @extend .button;
  background-color: $grayed-blue-color;
  padding: 0;
  width: 50px;
  height: 50px;
  // border: solid $tertiary-color 2px;
}

@media all and (max-width: 575px) {
  .button {
    display: block;
    margin: 0.2em auto;
    width: 100%;
  }

  .icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: contain;
      object-position: left;
    }
  }

  .disabledButton {
    img {
      object-fit: contain;
      object-position: left;
    }
  }
}
