@import '@/styles/variables';

.loaderContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  background-color: $white-color;
  border-radius: 50%;
}

.loader {
  display: inline-grid;
  font-size: 50px;
}
.loader:before,
.loader:after {
  background-image: url('/images/perfect-logo-icon.png');
  background-size: 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  content: '';
  grid-area: 1/1;
}
.loader:after {
  animation: l10 1s infinite;
}
@keyframes l10 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
