@import './styles/variables';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background-color: $white-color;
  box-shadow: $white-shadow;
  border-radius: $border-radius-2;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr;
  max-height: 90dvh;
  overflow-y: auto;

  // p {
  //   margin-bottom: 1rem;
  //   text-align: center;
  // }
}

@media (max-width: $mobile-size) {
  .modal {
    width: 90dvw;
    height: 90dvh;
    padding: 1rem;
  }
}
