.leales {
  list-style: none;
  padding-left: 1rem;
  border: 1px solid gray;
  margin: -0.5rem 0.5rem 1rem 0.5rem;

  li {
    margin-bottom: 0.2rem;
  }
}

.main {
  h4 {
    text-align: center;
    padding: 1rem, 0;
  }
}
