@import '@/styles/variables.scss';

.imageContainer {
  position: relative;
  margin: auto;
  /*height: 300px;*/
  width: 70vw;
  aspect-ratio: 603/230;

  img {
    border-radius: 1rem;
    box-shadow: $tailwind-shadow;
    object-fit: cover;
  }
}

@media (max-width: $mobile-size) {
  .imageContainer {
    height: 15vh;
    /*width: 80vw;*/
  }
}
