@import '@/styles/variables';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;

  .header {
    padding-top: 2rem;
    display: flex;
    align-items: stretch;

    h1 {
      text-align: center;
    }

    img {
      margin-bottom: 2rem;
    }
  }
}
