.main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  text-align: center;

  .section {
    border: solid;
    border-radius: 0.3rem;
    margin: 0.5rem;
    padding: 0.3rem;
    width: 80%;
    height: 30vh;
    align-self: center;
  }
}
