$primary-color: #ff531a;
$secondary-color: #182057;
$tertiary-color: #3171f1;
$black-color: #1b1c1e;
$white-color: white;
$gray-color: gray;
$disabled-color: lightgrey;

$border-radius-1: 3rem;

// $primary-color: black;
// $tertiary-color: #03163a;
