@import '@/styles/variables';

.formContainer {
  width: 100%;
  max-width: 330px;
  margin: 1rem auto;
  box-shadow: 5px 5px 30px $blue-shadow;
  border-radius: $border-radius-1;
  background-color: $tertiary-color;
  color: $white-color;

  .formHeader {
    padding: 2rem;
    background: url('/images/fondo_login.jpg');
    height: 150px;
    background-size: cover;
    border-radius: $border-radius-1 $border-radius-1 0 0;
    z-index: 9;
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 0.5rem;

    .imgBreaker {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;

      .horizontalLine {
        height: 2px;
        width: 100%;
        margin: 0 0.5rem;
        background-color: $white-color;
      }
    }

    button {
      margin-top: 1rem;
    }
  }
  .formFooter {
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;

    a {
      color: $white-color;
      font-size: 0.8rem;
    }
  }
}
