@import '@/styles/variables';

.nombre {
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  a {
    margin-top: 2rem;
  }

  .hero {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 3rem;
      line-height: 3rem;
      max-width: 600px;
      margin-bottom: 2rem;
    }
  }
}

.main {
  h1 {
    padding-bottom: 0.3rem;
  }

  .recompensasSection {
    margin-bottom: 6rem;
  }
}
