@import '@/styles/variables';

.main {
  a {
    margin-top: 2rem;
  }
}

.header {
  width: 100%;
  padding-bottom: 3rem;

  .nivel {
    color: $gray-color;
  }
}

.main {
  h1 {
    padding-bottom: 0.3rem;
  }
}
