.formControl {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0 0.3rem;

  &:focus {
    border-color: #ced4da;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  }

  label {
    font-size: 0.9rem;
  }

  input {
    height: 2rem;
    padding: 0.5rem;
  }

  button {
    margin-top: 1rem;
  }
}
